body {
    background-color: rgba(252, 170, 19, 0.26);
}

h1,
h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(214, 118, 33);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container>* {
    margin: 2em;
    border: salmon solid 1px;
}